        
        nav {background-color: darkred;}
        
        #Blog-Logo {background-color: white;}

        #Logo {background-color: white;}
        
        h1,h2,h3,h4,h5,h6 {color: goldenrod;
            
        }
body {background-color: darkred; color: goldenrod;}

        
        
         /* p. ex {960 px;} */
        p{font-size: 1.1em;}
        
        #fullwidth {width: 100%;}
        
        .leftcol, .rightcol {
            flex: 1;
            display: flex;
            flex-flow: row-wrap;
            align-items: center;
        }
        
        .leftcol, .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }

#Social {padding: 50px; background-color: darkred}

#Blog-Social {background-color: white;}
        
img {
    max-width: 100%;
}
        
        p{padding: 1em;}
        h2{padding: 1em;}
        
        
        #content { 
            margin: 0 auto;
        }
        
        #Come {text-align: center}
        
        h1,h2,h3,h4,h5,h6 {
            font-family: 'Rage', Times, sans-serif;}        
        
        body {font-family: Arial, Helvetica, sans-serif;}
        section {padding: 20px;}

nav a {
    padding: 1em
}

#growhome:hover {
    
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

#growrivers:hover {
    
     -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

#growblog:hover {
    
     -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

#growfaq:hover {
    
     -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

#growrates:hover {
    
     -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

#growcontact:hover {
    
     -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row-wrap;
    line-height: 3em;
}

nav li {
    flex: 1 1 8em;
}

a {
    color: goldenrod;
    text-decoration: none
}

nav a:link, nav a:visited {
    color: goldenrod
}

nav a:hover {
    color: darkred;
    background-color: goldenrod;
}